
<form (ngSubmit)="saveExpense()">

    <input type="text" name="expense" [(ngModel)]="expense.expense" placeholder="Entre com o nome da despesa"/>
    <input type="text" name="amount" [(ngModel)]="expense.amount" placeholder="Entre com o valor"/>
    <textarea type="text" name="description" [(ngModel)]="expense.description" placeholder="Entre com a descrição">
    </textarea>
    <button type="submit" >Add Expenses</button>
    <button *ngIf="expense.id" (click)="deleteExpense(expense.id)" >Delete</button>
</form>